DATABASE_NAME=my_db
API_KEY=999
DATABASE_PORT=5435

POSTGRES_DB=my_db
POSTGRES_USER=xhepo
POSTGRES_PASSWORD=xhepower
POSTGRES_PORT=5435
POSTGRES_HOST=localhost

TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = xhepo
TYPEORM_PASSWORD = xhepower
TYPEORM_DATABASE = my_db
TYPEORM_PORT = 5435
TYPEORM_SYNCHRONIZE = false
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = src/**/*.entity.ts

TYPEORM_MIGRATIONS = src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = src/database/migrations
TYPEORM_MIGRATIONS_TABLE_NAME = migrations

TZ=GMT-6
JWTSECRET=babasonicos